<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Rong_Springmvc</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  
    <!-- 请求都交给DispatcherServlet处理 --> 
  <servlet>
        <servlet-name>spring-mvc</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
         <init-param>
         <param-name>contextConfigLocation</param-name>
            <!-- 这个地方可以是WEB-INF，也可以是其他地方，下面配置2选1啊 -->
            <param-value>/WEB-INF/springweb/*-servlet.xml</param-value>
          <!--   <param-value>classpath:spring/servlet/*-servlet.xml</param-value> -->
          </init-param>
        <load-on-startup>1</load-on-startup> 
   </servlet>

      <!-- 拦截所有请求 -->  
    <servlet-mapping>    
        <servlet-name>spring-mvc</servlet-name>
        <url-pattern>/</url-pattern>    
    </servlet-mapping>
</web-app>